<a href="https://colab.research.google.com/github/Jeff980720/Modulo-5/blob/main/Reto15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [145]:
import pandas as pd
from datetime import datetime

estudiantes={
    'Nombre':['Juan','Ana','Carlos','Maria','Luis'],
    'Edad':[18,22,20,19,21],
    'Ciudad':['Quito','Guayaquil','Loja','Cuenca','Ambato'],
    'Promedio':[9.5,8.0,7.5,9.0,8.5]
}
dt=pd.DataFrame(estudiantes)
print(dt)

print("\n Promedio \n")
print(dt['Promedio'])

dt['Aprobado']=dt['Promedio']>8
print("\n Aprobado\n")
print(dt)

aprobado=dt[dt['Promedio']>8]
print("\n Estudiantes Aprobados\n")
print(aprobado)

estudiantes_aprobados=aprobado['Nombre']
print("\n Estudiantes Aprobados\n")
print(estudiantes_aprobados)

eventos={
    'Evento': ['Concierto', 'Conferencia', 'Seminario', 'Feria', 'Taller'],
    'Fecha': ['2025-05-01', '2025-06-15', '2025-07-10', '2025-08-25', '2025-09-05'],
    'Lugar': ['Quito', 'Guayaquil', 'Loja', 'Cuenca', 'Ambato']

}
dt=pd.DataFrame(eventos)
fechas=pd.to_datetime(eventos['Fecha'])
print("\n Fechas\n")
print(fechas)

dt['Fechas']=fechas
dt['Anio']=dt['Fechas'].dt.year
dt['Mes']=dt['Fechas'].dt.month
print("\n Convercion Fechas\n")
print(dt)

dt['Fechas']=fechas
dt['Anio']=dt['Fechas'].dt.year
dt['Mes']=dt['Fechas'].dt.month
print("\n Convercion Fechas\n")
print(dt)

solo_2025=dt[dt['Anio']==2025]
print("\n Solo 2020\n")
print(solo_2025[['Evento','Lugar']])

solo_evento=dt[dt['Mes']==9]
print("\n Solo Evento\n")
print(solo_evento['Evento'])

fecha_actual=datetime.now()
dt['Días'] = dt['Fechas'].apply(lambda x: (x - fecha_actual).days)
print("\n Dias\n")
print(dt)

productos={
    'Producto': ['Laptop', 'Celular', 'Tablet', 'Auriculares', 'Teclado'],
    'Precio': [500, 300, 150, 50, 75],
    'Cantidad Vendida': [10, 15, 7, 25, 30],
    'Fecha de Venta': ['2025-04-01', '2025-04-03', '2025-04-05', '2025-04-06', '2025-04-10']
}
dt=pd.DataFrame(productos)
dt['Fecha de Venta']=pd.to_datetime(dt['Fecha de Venta'])

dt['Ingreso Total']=dt['Precio']*dt['Cantidad Vendida']
print("\n Ganancia\n")
print(dt)

ingreso_mayor=dt[dt['Ingreso Total']>1000]
print("\n Ganancia Mayor\n")
print(ingreso_mayor)

dt['Mes']=dt['Fecha de Venta'].dt.month
print("\n Aniadir Mes\n")
print(dt)

ventas_abril=dt[dt['Mes']==4]
print("\n Solo Abril\n")
print(ventas_abril[['Mes','Ingreso Total']])

temperaturas=pd.Series([18.5, 20.3, 22.0, 21.8, 19.7, 20.1, 21.4],
                       index=['Lunes','Martes','Miercoles','Jueves','Viernes','Sabado','Domingo'])
print("\n Temperaturas\n")
seleccion=temperaturas.loc[['Lunes','Miercoles','Viernes']]
print(seleccion)

temperatura_media=round(temperaturas.mean(),3)
print("\n Temperatura Media\n")
print(temperatura_media,"Grados Centigrados")

temperatura_farenheit=round(temperaturas*(9/5)+32,2)
print("\n Temperatura Farenheit\n")
print(temperatura_farenheit)

temperatura_alta=temperaturas.max()
temperatura_baja=temperaturas.min()
dia_temperatura_alta = temperaturas.idxmax()
dia_temperatura_baja = temperaturas.idxmin()
print("\n Maximo y minimo temperaturas\n")
print("Día de la temperatura más alta:", dia_temperatura_alta,"con: ",temperatura_alta)
print("Día de la temperatura más baja:", dia_temperatura_baja,"con: ",temperatura_baja)

asistencia={
      'Estudiante': ['Ana', 'Luis', 'Carlos', 'Maria', 'Pedro'],
      'Días Asistidos': [20, 18, 22, 15, 19],
      'Mes': ['Abril', 'Abril', 'Abril', 'Abril', 'Abril']
}
dt=pd.DataFrame(asistencia)
dt['Total de Días en el Mes']=30
print(dt)

porcentaje_asistencia=round((dt['Días Asistidos']/dt['Total de Días en el Mes'])*100,2)
dt['Porcentaje de Asistencia']=porcentaje_asistencia
print(dt)

mas_asistencia=dt[dt['Porcentaje de Asistencia']>80]
print("\n Mas Asistencia\n")
print(mas_asistencia['Estudiante'])

ordenar_asistencia=dt.sort_values(by='Porcentaje de Asistencia',ascending=False)
print("\n Ordenar Asistencia\n")
print(ordenar_asistencia[['Estudiante','Porcentaje de Asistencia']])

empresa={
      'Fecha': ['2025-03-01', '2025-03-05', '2025-03-10', '2025-03-15', '2025-03-20'],
      'Ingreso': [1500, 1200, 2000, 1800, 1600],
      'Egreso': [500, 700, 600, 800, 400]
}
dt=pd.DataFrame(empresa)
dt['Fecha']=pd.to_datetime(dt['Fecha'])

dt['Saldo']=dt['Ingreso']-dt['Egreso']
print(dt)

totales=dt[['Ingreso','Egreso','Saldo']].astype(float).sum()
print("\n Totales\n")
print(totales)

saldo_positivo=dt[dt['Saldo']>0]
print("\n Saldo Positivo\n")
print(saldo_positivo[['Fecha','Saldo']])

   Nombre  Edad     Ciudad  Promedio
0    Juan    18      Quito       9.5
1     Ana    22  Guayaquil       8.0
2  Carlos    20       Loja       7.5
3   Maria    19     Cuenca       9.0
4    Luis    21     Ambato       8.5

 Promedio

0    9.5
1    8.0
2    7.5
3    9.0
4    8.5
Name: Promedio, dtype: float64

 Aprobado

   Nombre  Edad     Ciudad  Promedio  Aprobado
0    Juan    18      Quito       9.5      True
1     Ana    22  Guayaquil       8.0     False
2  Carlos    20       Loja       7.5     False
3   Maria    19     Cuenca       9.0      True
4    Luis    21     Ambato       8.5      True

 Estudiantes Aprobados

  Nombre  Edad  Ciudad  Promedio  Aprobado
0   Juan    18   Quito       9.5      True
3  Maria    19  Cuenca       9.0      True
4   Luis    21  Ambato       8.5      True

 Estudiantes Aprobados

0     Juan
3    Maria
4     Luis
Name: Nombre, dtype: object

 Fechas

DatetimeIndex(['2025-05-01', '2025-06-15', '2025-07-10', '2025-08-25',
               '2025-09-05'],
              dtype='datetime64[ns]', freq=None)

 Convercion Fechas

        Evento       Fecha      Lugar     Fechas  Anio  Mes
0    Concierto  2025-05-01      Quito 2025-05-01  2025    5
1  Conferencia  2025-06-15  Guayaquil 2025-06-15  2025    6
2    Seminario  2025-07-10       Loja 2025-07-10  2025    7
3        Feria  2025-08-25     Cuenca 2025-08-25  2025    8
4       Taller  2025-09-05     Ambato 2025-09-05  2025    9

 Convercion Fechas

        Evento       Fecha      Lugar     Fechas  Anio  Mes
0    Concierto  2025-05-01      Quito 2025-05-01  2025    5
1  Conferencia  2025-06-15  Guayaquil 2025-06-15  2025    6
2    Seminario  2025-07-10       Loja 2025-07-10  2025    7
3        Feria  2025-08-25     Cuenca 2025-08-25  2025    8
4       Taller  2025-09-05     Ambato 2025-09-05  2025    9

 Solo 2020

        Evento      Lugar
0    Concierto      Quito
1  Conferencia  Guayaquil
2    Seminario       Loja
3        Feria     Cuenca
4       Taller     Ambato

 Solo Evento

4    Taller
Name: Evento, dtype: object

 Dias

        Evento       Fecha      Lugar     Fechas  Anio  Mes  Días
0    Concierto  2025-05-01      Quito 2025-05-01  2025    5    21
1  Conferencia  2025-06-15  Guayaquil 2025-06-15  2025    6    66
2    Seminario  2025-07-10       Loja 2025-07-10  2025    7    91
3        Feria  2025-08-25     Cuenca 2025-08-25  2025    8   137
4       Taller  2025-09-05     Ambato 2025-09-05  2025    9   148

 Ganancia

      Producto  Precio  Cantidad Vendida Fecha de Venta  Ingreso Total
0       Laptop     500                10     2025-04-01           5000
1      Celular     300                15     2025-04-03           4500
2       Tablet     150                 7     2025-04-05           1050
3  Auriculares      50                25     2025-04-06           1250
4      Teclado      75                30     2025-04-10           2250

 Ganancia Mayor

      Producto  Precio  Cantidad Vendida Fecha de Venta  Ingreso Total
0       Laptop     500                10     2025-04-01           5000
1      Celular     300                15     2025-04-03           4500
2       Tablet     150                 7     2025-04-05           1050
3  Auriculares      50                25     2025-04-06           1250
4      Teclado      75                30     2025-04-10           2250

 Aniadir Mes

      Producto  Precio  Cantidad Vendida Fecha de Venta  Ingreso Total  Mes
0       Laptop     500                10     2025-04-01           5000    4
1      Celular     300                15     2025-04-03           4500    4
2       Tablet     150                 7     2025-04-05           1050    4
3  Auriculares      50                25     2025-04-06           1250    4
4      Teclado      75                30     2025-04-10           2250    4

 Solo Abril

   Mes  Ingreso Total
0    4           5000
1    4           4500
2    4           1050
3    4           1250
4    4           2250

 Temperaturas

Lunes        18.5
Miercoles    22.0
Viernes      19.7
dtype: float64

 Temperatura Media

20.543 Grados Centigrados

 Temperatura Farenheit

Lunes        65.30
Martes       68.54
Miercoles    71.60
Jueves       71.24
Viernes      67.46
Sabado       68.18
Domingo      70.52
dtype: float64

 Maximo y minimo temperaturas

Día de la temperatura más alta: Miercoles con:  22.0
Día de la temperatura más baja: Lunes con:  18.5
  Estudiante  Días Asistidos    Mes  Total de Días en el Mes
0        Ana              20  Abril                       30
1       Luis              18  Abril                       30
2     Carlos              22  Abril                       30
3      Maria              15  Abril                       30
4      Pedro              19  Abril                       30
  Estudiante  Días Asistidos    Mes  Total de Días en el Mes  \
0        Ana              20  Abril                       30
1       Luis              18  Abril                       30
2     Carlos              22  Abril                       30
3      Maria              15  Abril                       30
4      Pedro              19  Abril                       30

   Porcentaje de Asistencia
0                     66.67
1                     60.00
2                     73.33
3                     50.00
4                     63.33

 Mas Asistencia

Series([], Name: Estudiante, dtype: object)

 Ordenar Asistencia

  Estudiante  Porcentaje de Asistencia
2     Carlos                     73.33
0        Ana                     66.67
4      Pedro                     63.33
1       Luis                     60.00
3      Maria                     50.00
       Fecha  Ingreso  Egreso  Saldo
0 2025-03-01     1500     500   1000
1 2025-03-05     1200     700    500
2 2025-03-10     2000     600   1400
3 2025-03-15     1800     800   1000
4 2025-03-20     1600     400   1200

 Totales

Ingreso    8100.0
Egreso     3000.0
Saldo      5100.0
dtype: float64

 Saldo Positivo

       Fecha  Saldo
0 2025-03-01   1000
1 2025-03-05    500
2 2025-03-10   1400
3 2025-03-15   1000
4 2025-03-20   1200